<h1>Clientes</h1>
<a href="./clientes/novo" class="btn btn-primary">Novo</a>
<hr>
<table class="table">
    <!-- Títulos da tabela -->
    <thead> 
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
        </tr>    
    </thead>
    <!-- Conteúdo da tabela -->
    <tbody>
        {{#each listaclientes}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.sexo}}</td>
            <td>{{this.telefone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>