<h2>Cliente</h2>
<hr>

<form action="/clientes/save" method="POST">

    <input type="hidden" name="id" 
    value="{{cliente.id}}">

    <div class="form-group">
        <label for="txtnome">Nome:</label>
        <input type="text" class="form-control" 
            value="{{cliente.nome}}"
            id="txtnome" name="nome" required >
            <!-- BINDING -->
    </div>

    <div class="form-group">
        <label for="txtendereco">Endereço:</label>
        <input type="text" class="form-control" 
            value="{{cliente.endereco}}"
            id="txtendereco" name="endereco" required >
    </div>

    <div class="form-group">
        <label for="txtsexo">Sexo:</label>
        <input type="text" class="form-control" 
            value="{{cliente.sexo}}"
            id="txtsexo" name="sexo" required >
    </div>

    <div class="form-group">
        <label for="txttelefone">Telefon:</label>
        <input type="text" class="form-control"
            value="{{cliente.telefone}}"
            id="txttelefone" name="telefone" required >
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>